pgmpy==0.1.25 # This is needed because above this version all kinds of third party google and LLM stuff is imported that we do not need.
networkx>=2.7.1
matplotlib>=3.3.4
numpy>=1.24.1
pandas
tqdm
ismember
scikit-learn
funcsigs
statsmodels
python-louvain
packaging
df2onehot
fsspec
pypickle
tabulate
ipywidgets
lingam
datazets>=1.1.2
setgraphviz>=1.0.3
pyarrow<20.0.0  # This is needed for pandas because the latest version results in a bug which can not import __version__
