#conda create -n env_BNLEARN python=3.6
#conda activate env_BNLEARN

# conda install -c ankurankan pgmpy
packaging
numpy
pandas
tqdm
statsmodels
community
sklearn
funcsigs
community
networkx
matplotlib
# networkx==1.11
# matplotlib==2.2.3
