numpy
sphinx_rtd_theme
rst2pdf
sphinx
pytest
#git+https://github.com/SuperKogito/sphinxcontrib-pdfembed.git
irelease
sphinxcontrib-fulltoc
tabulate
nbconvert # jupyter nbconvert --to html notebook.ipynb
