pgmpy>='0.1.18'
networkx>='2.7.1'
matplotlib>='3.3.4'
numpy>='1.24.1'
pandas==1.5.3
d3blocks>='1.4.9'
tqdm
ismember
scikit-learn
funcsigs
statsmodels
python-louvain
packaging
df2onehot
fsspec
pypickle
tabulate
ipywidgets
datazets
